albumentations
captum
evalutils
gcapi
GitPython
imageio>=2.7
ipdb
jupyter
jupyterlab>=3.0.17
keras
keras2onnx
matplotlib
mock
monai
neptune-client
nibabel
nltk
numpy==%NUMPY_VERSION%
onnxruntime-gpu
opencv-python>=4.5
openpyxl
pandas
panimg
pillow>=8.3.2
psutil
pydicom>=2.0.0
pygad>=2.16
pytest
rdp
scikit-image
scikit-learn>=1.0
scipy
seaborn
shapely>=1.8
simpleitk>=2.0.0
six
tensorboard
tensorflow-gpu==%TENSORFLOW_VERSION%
tifffile
torch==%PYTORCH_VERSION%
torchvision==%TORCHVISION_VERSION%
tqdm
wandb
xlrd>=2.0.0

# Temporary fix until we can use numpy >= 1.22
pylibjpeg-openjpeg==1.1.1
pylibjpeg-libjpeg==1.2.0
